{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AbuAlia ICT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<link rel="stylesheet" href="{% static 'solo_project_app/dashboard.css' %}">

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid ">
            <img id="logo" src="{% static 'images/channels4_profile.jpg' %}" alt="Trading Academy">
            <h1>Welcome {{user.first_name}}!</h1>

            <div>
                <div  id="navbarSupportedContent">
                    <a class="login-link" href="{% url 'logout' %}"><button id="login-btn">Log Out</button></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="middle">
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container" style="border: 5px solid #0f828c; ;">
            <div id="tradingview_chart"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
            <script type="text/javascript">
                new TradingView.widget({
                    "width": 800,
                    "height": 500,
                    "symbol": "FX:EURUSD",
                    "interval": "60",
                    "timezone": "Etc/UTC",
                    "theme": "light",
                    "style": "1",
                    "locale": "en",
                    "toolbar_bg": "#f1f3f6",
                    "enable_publishing": false,
                    "hide_legend": false,
                    "save_image": false,
                    "container_id": "tradingview_chart"
                });
            </script>
        </div>
       <div class="api">
            <h2><p>USD → EUR: <span id="USD_to_EUR">Loading...</span></p></h1><hr>
            <h2><p>EUR → USD: <span id="EUR_to_USD">Loading...</span></p></h1><hr>
            <h2><p>USD → GBP: <span id="USD_to_GBP">Loading...</span></p></h1><hr>
            <h2><p>GBP → USD: <span id="GBP_to_USD">Loading...</span></p></h1><hr>
            <h2><p>USD → JPY: <span id="USD_to_JPY">Loading...</span></p></h1> <hr>
            <h2><p>JPY → USD: <span id="JPY_to_USD">Loading...</span></p></h1><hr>
            <h2><p>USD → AUD: <span id="USD_to_AUD">Loading...</span></p></h1><hr>
            <h2><p>AUD → USD: <span id="AUD_to_USD">Loading...</span></p></h1><hr>
            <h2><p>USD → CAD: <span id="USD_to_CAD">Loading...</span></p></h1><hr>
            <h2><p>CAD → USD: <span id="CAD_to_USD">Loading...</span></p></h1><hr>
            <h3><p>Last updated: <span id="last_updated">--:--:--</span></p></h2>
        </div>

    </div>
    <h1 id="c-name">Courses</h1>
    <h3 id="a-course" ><a href="{% url 'lessons_page' %}">View my courses</a></h3>
    <div class="left">
        {% for course in Courses %}
        <div class="courses">
            <h2 style="color: orange;">{{course.title}}</h2>
            <p>{{course.description}}</p>
            <a href="{% url 'payment_page' course.id%}"> <button>Buy for {{course.price}}$</button></a>
            <div class="feed" style="border: 3px solid black; margin-top: 20px; background-color: white; color: black;">
                <h1>Feedbacks</h1>
                <div class="comments">
                    <form action="{% url 'add_feedback' course.id%}" method="post">
                        {% csrf_token %}
                        <label for="comment">Add Comment</label>
                        <textarea  class="form-control" name="comment"
                            id="comment"></textarea>
                        <button style="margin-top: 20px;width: 150px;"> submit </button>
                        {% if messages %}
                        <ul class="messages text-danger">
                    </form>
                    {% for message in messages %}
                    {% if 'feedback' in message.tags %}
                    <li>{{message}}</li>
                    {% endif %}
                    {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% if course.feedbacks.all %}
                {% for fb in course.feedbacks.all %}
                <p> <span style="color: #0f828c;">{{fb.user.first_name}} {{fb.user.last_name}}:</span>
                    {{fb.comment}}</p>

                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script src="{% static 'solo_project_app/dashboard.js' %}"></script>



</body>

</html>